<!--Заголовок-->
<div class="p-5 mt-5">
    <h1 class="text-info">Доходы</h1>
</div>

<!--Категории доходов-->
<div class="pl-5 pr-5 d-flex row row-cols-lg-3 row-cols-md-2 g-4">
    <div class="col">
        <div class="card card-outline shadow-none border border-gray-300 d-flex flex-column justify-content-center p-3 rounded-12">
            <div>
                <h3 class="text-info">Депозиты</h3>
            </div>
            <div>
                <a href="/income-category-edit" class="edit btn btn-primary pt-2 pb-2 pl-3 pr-3 rounded font-weight-medium">Редактировать</a>
                <button type="button" class="delete btn btn-danger ml-2 pt-2 pb-2 pl-3 pr-3 rounded font-weight-medium" data-toggle="modal"
                        data-target="#myModal">Удалить
                </button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card card-outline shadow-none border border-gray-300 d-flex flex-column justify-content-center p-3 rounded-12">
            <div>
                <h3 class="text-info">Зарплата</h3>
            </div>
            <div>
                <a href="/income-category-edit" class="edit btn btn-primary pt-2 pb-2 pl-3 pr-3 rounded font-weight-medium">Редактировать</a>
                <button type="button" class="delete btn btn-danger ml-2 pt-2 pb-2 pl-3 pr-3 rounded font-weight-medium" data-toggle="modal"
                        data-target="#myModal">Удалить
                </button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card card-outline shadow-none border border-gray-300 d-flex flex-column justify-content-center p-3 rounded-12">
            <div>
                <h3 class="text-info">Сбережения</h3>
            </div>
            <div>
                <a href="/income-category-edit" class="edit btn btn-primary pt-2 pb-2 pl-3 pr-3 rounded font-weight-medium">Редактировать</a>
                <button type="button" class="delete btn btn-danger ml-2 pt-2 pb-2 pl-3 pr-3 rounded font-weight-medium" data-toggle="modal"
                        data-target="#myModal">Удалить
                </button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card card-outline shadow-none border border-gray-300 d-flex flex-column justify-content-center p-3 rounded-12">
            <div>
                <h3 class="text-info">Инвестиции</h3>
            </div>
            <div>
                <a href="/income-category-edit" class="edit btn btn-primary pt-2 pb-2 pl-3 pr-3 rounded font-weight-medium">Редактировать</a>
                <button type="button" class="delete btn btn-danger ml-2 pt-2 pb-2 pl-3 pr-3 rounded font-weight-medium" data-toggle="modal"
                        data-target="#myModal">Удалить
                </button>
            </div>
        </div>
    </div>
    <div class="col">
        <!--    Пустая-->
        <div class="card card-outline shadow-none border border-gray-300 d-flex flex-column justify-content-center p-4 rounded-12">
            <a href="/income-category-creation" class="btn p-3 mb-2" id="add-category">
                <i class="fas fa-plus text-secondary"></i>
            </a>
        </div>
    </div>
</div>

<!-- модальное окно -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-dialog-centered ">
        <div class="modal-content elevation-0 border-0 p-3 rounded-12">
            <h5 class="modal-body text-center py-2 px-3 text-info-emphasis">
                Вы действительно хотите удалить категорию? Связанные доходы останутся без категории.
            </h5>
            <div class="modal-footer d-flex justify-content-center border-top-0 pt-1 pb-3 px-3">
                <button type="button" class="btn btn-custom btn-success mr-2 rounded font-weight-medium">Да, удалить
                </button>
                <button type="button" class="btn btn-custom btn-danger rounded font-weight-medium" data-dismiss="modal">
                    Не удалять
                </button>
            </div>
        </div>
    </div>
</div>
