<!--Заголовок-->
<div class="p-5 mt-5">
  <h1 class="text-info">Редактирование категории расходов</h1>
</div>

<!--Форма-->
<div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-4 pl-5 pr-5">
  <form>
    <div class="input-group mb-2">
      <input type="text" class="form-control" placeholder="Тестовая категория">
    </div>

    <!-- Button -->
    <div class="input-group mb-3 mt-3">
      <div class="mr-1">
        <button type="button" class="btn btn-success btn-block rounded font-weight-medium">Сохранить</button>
      </div>
      <div class="">
        <a href="/expense-category" type="button" class="btn btn-danger btn-block ml-2 rounded font-weight-medium">Отмена</a>
      </div>
    </div>
  </form>
</div>